.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 900px) {
  .contact {
    flex-direction: column;
  }
}

.contact_detail {
  margin: auto;

  a:link,a:visited,a:active {
    color: rgba($color: #000000, $alpha: 0.6);
  }
}

// div > .contactLink a {
//   color: rgba(0, 0, 0, 0.6);
// }
