.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 900px) {
  .contact {
    flex-direction: column;
  }
}

.contact_detail {
  margin: auto;
}
