/* Specify in CSS
Use the following CSS rules to specify these families:

font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif; */

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }

body {
  font-family: "Droid Sans Mono";
  font-family: "Roboto", sans-serif;
}

.section {
  padding: 0.5em;
  margin: auto;
}

.section--centered {
  display: flex;
  justify-content: center;
}

.banner__title {
  /* font-family: 'Berkshire Swash', cursive; */
  font-family: "Droid Sans Mono";
  font-size: 3em;
}

.section__title {
  margin: auto;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Droid Sans Mono";
}

.section-body {
  font-family: "Roboto", sans-serif;
  font-family: "Droid Sans Mono";
  /* font-style: normal;
font-weight: 400; */
}

.contact {
  display: flex;
  flex-direction: row;
  flex-grow: space-between;
  justify-content: space-evenly;
}

.contact__detail {
  padding: 1em;
  margin: auto;
}

.job {
  display: flex;
  flex-direction: row;
  flex-grow: space-between;
}

.job__title {
  /* padding:1em; */
  white-space: nowrap;
  flex-basis: 20%;
}

.job__description {
  padding: 0.2em;
}

.project__title {
  /* padding: 1em; */
  white-space: nowrap;
  flex-basis: 20%;
}

.project__description {
  padding: 0.2em;
}

.project {
  display: flex;
  flex-direction: row;
}
