.banner__title {
  font-family: "Droid Sans Mono";
  color: black;
  font-size: 3em;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.banner {
  display: flex;
  justify-content: center;
}

.blink {
  // height: 80%;
  // background-color: gray;
  animation-name: blink;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  opacity: 1;
  font-size: 125%;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
