
.project {
  padding: 0.2em;
  margin: auto
}

.project_title {
  font-family: "Droid Sans Mono";
  color: black;
  font-size: 1.2rem;
  margin: 0 0 0.2rem 0;
}

.project_body {
  font-family: "Droid Sans Mono"
}