
.project_link {
  margin-left: 0.5rem;
}

.project_title {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
}

.project_description {
  margin-left: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.project_skills {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 2rem;
}

.project_rowContainer {
  display: flex;
  flex-direction: row;
}