.project_link {
  margin-left: 0.5rem;
  @media screen and (max-width: 650px) {
    margin-left: 0rem;
  }
}

.project_link a:link,
a:visited,
a:active {
  color: #4a7bb4;
}

.project_link a:hover {
  color: orange;
}

.project_title {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 110%;

  @media screen and (max-width: 650px) {
    font-weight: normal;
  }
}

.project_description {
  margin-left: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.project_skills {
  color: rgba(0, 0, 0, 0.493);
  margin-left: 2rem;
}

.project_rowContainer {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}
