
.project_link {
  margin-left: 2rem;
}

.project_title {
  white-space: nowrap;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.project_description {
  margin-left: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.project_skills {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 2rem;
}