@import url("https://fonts.googleapis.com/css?family=Lato|Roboto|Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");

.app {
  padding: 0% 15%;
  font-family: "Droid Sans Mono";
  color: rgba(0, 0, 0, 0.6);
  font-size: 10pt;
  letter-spacing: 0.002rem;
}

@media screen and (max-width: 1200px) {
  .app {
    padding: 0% 5%;
  }
}

// .app > * {
//   margin: 1rem;
//   border-radius: 5px;
//   padding: 2%;
// }

.sectionTitle {
  font-family: "Droid Sans Mono";
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
  // background-color: red;
}