@import url("https://fonts.googleapis.com/css?family=Lato|Roboto|Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");

@import "./variables.scss";

.app {
  padding: 0% 15%;
  font-family: "Droid Sans Mono";
  color: $base-text-body;
  font-size: 1rem;
  letter-spacing: 0.002rem;

  @media screen and (max-width: 650px) {
    font-size: smaller;
  }
}

@media screen and (max-width: 1200px) {
  .app {
    padding: 0% 5%;
  }
}

.sectionTitle {
  font-family: "Droid Sans Mono";
  color: $base-text-title;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
}

// * {
//   background-color: invert($base-bg-color);
//   color: invert($base-text-body);

//   .sectionTitle {
//     color: white;
//   }
// }

.printTheme {
  @page {
    size: A4;
    margin: 0;
  }

  @media print {
    html,
    body {
      width: 210mm;
      height: 297mm;
    }
  }
  
  color: red;
}
