@import url("https://fonts.googleapis.com/css?family=Lato|Roboto|Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");

.app {
  padding: 0% 20%;
  font-family: "Droid Sans Mono";
  color: rgba(0, 0, 0, 0.6);
  font-size: 10pt;
  letter-spacing: 0.002rem;
}

.app > * {
  margin: 1rem;
  background-color: #0064c218;
  border-radius: 5px;
  padding: 2%;
}