.app {
  padding: 0% 20%;

  h1 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
    margin-top: 0em;
    margin-bottom: 0.2rem;
  }

  ul {
    margin-top: 0rem;
  }

  h4 {
    font-size: 0.8rem;
  }
}

.app > * {
  margin: 1rem;
  background-color: #0064c218;
  border-radius: 5px;
  padding: 2%;
}
