.job {
  display: flex;
  @media (min-width: 1300px) {
    flex-direction: row;
  }
  flex-grow: space-between;
  align-items: stretch;
  justify-content: space-between;
  font-family: "Droid Sans Mono";
  margin-bottom: 1rem;
}

@media screen and (max-width: 1600px) {
  .job {
    flex-direction: column;
  }

  .job_description {
    margin-top: 0;
    padding-top: 0;
    vertical-align: top;
    width: 100%;
    
    ul {
      width: 100%;
      padding-right: 0%;
    }

    li {
      width: 100%;
    }
  }

  .jobDetail___left {
    width: 100%;
  }
}

.job_title {
  white-space: nowrap;
  flex-basis: 30%;
  color: rgba(0, 0, 0, 0.85);
  font-size: 110%;
  font-weight: bold;

  @media screen and (max-width: 650px) {
    // font-weight: normal;
  }
}

.job_company {
  color: rgba(0, 0, 0, 0.8);
}

.job_date {
  color: rgba(0, 0, 0, 0.7);
}

.job_description {
  margin-top: 0;
  padding-top: 0;
  vertical-align: top;
  width: 70%;

  ul {
    margin-top: 0;
  }
}

.jobDetail___left {
  width: 30%;
}
